<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa hàng GreenFood</title>
    <link rel="icon" href="{% static 'icon/leaf.png' %}">
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}?v={{ now|date:'U' }}">

</head>

<body>
    <div id="container">
        {% include 'header.html' %}
        <div id="content">
            <img src="{% static 'img/intro.png' %}" alt="">
            <div class="content-text">
                <h3>Thực phẩm <span style="color: rgba(75, 238, 43, 1);">xanh</span> <br> Sức khỏe <span
                        style="color: rgba(75, 238, 43, 1);">lành</span></h3>
                <p>Hỗ trợ đến 30% các thực phẩm hữu cơ trong tuần <br> cho người dân địa phương hoặc người nước ngoài
                </p>
            </div>
            <div class="btn-content">
                <button class="btn-1">Mua ngay</button>
                <button class="btn-2">Xem công thức</button>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>

</html>